html,body{
    height: 100%;
}
h1,
h2,
h3,
h4,
i,
del,
strong,
em,
body,
input,
a,
li,
ul,
img,
span,
ins {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
input {
    border: none;
    outline: none;
}
li {
    list-style: none
}
i {
    font-style: normal;
}
img {
    border: none;
    vertical-align: middle;
}
body {
    font-size: 12px;
    line-height: 1;
}
.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
